name: Flutter CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.x"
          channel: "stable"

      - name: Bağımlılıkları Yükle
        run: flutter pub get

      - name: Kod Analizi (Linting)
        run: flutter analyze

      - name: Testleri Çalıştır
        run: flutter test
